# Copy this file to .env before running Docker Compose in production-like mode.
# Demo values are filled in so the project can be started quickly for review.

PROD_SPRING_PROFILES_ACTIVE=prod

CONFIG_REPOSITORY_URI=https://github.com/BaTORfly/multi-user-task-sheduler.git
PROD_CONFIG_REPOSITORY_LABEL=master

POSTGRES_DB=task_tracker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

JWT_SECRET=aGZiYmtiYWllYmNpZWFpZWJsZWNldWNlY2xhZWNhaWJlbGNhZWN3Q0VCV0VXSUM=
JWT_ACCESS_LIFETIME=3600
JWT_REFRESH_LIFETIME=86400

SCHEDULER_EMAIL=scheduler@gmail.com
SCHEDULER_PASSWORD=12345678Gg
SCHEDULER_HASHED_PASSWORD='$2a$10$mChOyjtxunn4P3kh.LTXv.Ob34yOkUEbHfGw2GY2rkLcgIbyefG1C'
SCHEDULER_DAILY_CRON=0 0 0 * * *
SCHEDULER_TIME_ZONE=Europe/Moscow

SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=tasktrackerpetproject@gmail.com
SPRING_MAIL_PASSWORD='tuuv bxbu olns vlbt'
